.spotify-container {
  max-width: 100%;
  margin: 0 20px;
}

.new-releases-container {
  padding: 20px;
  background-color: #f8f9fa;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #00796b;
}

.albums-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.album-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  flex: 1 1 calc(20% - 15px); /* Adjust based on the number of items per row */
  transition: transform 0.3s, box-shadow 0.3s;
}

.album-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.album-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.album-name {
  padding: 10px;
  font-size: 24px;
  font-weight: 800;
  color: #00796b;
  margin: 0;
}

@media (max-width: 1200px) {
  .album-card {
    flex: 1 1 calc(33.333% - 15px); /* 3 items per row */
  }
}

@media (max-width: 900px) {
  .album-card {
    flex: 1 1 calc(50% - 15px); /* 2 items per row */
  }
}

@media (max-width: 600px) {
  .album-card {
    flex: 1 1 calc(100% - 15px); /* 1 item per row */
  }
}
